<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>509826767525-pjoasfkkiajiobmnehb7r3tmr1gq6ito.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.509826767525-pjoasfkkiajiobmnehb7r3tmr1gq6ito</string>
	<key>API_KEY</key>
	<string>AIzaSyAfWBGzY6VZSn_v5Tr-O5H7RewdE3ikVZE</string>
	<key>GCM_SENDER_ID</key>
	<string>509826767525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cseOrganizersApp</string>
	<key>PROJECT_ID</key>
	<string>organizers-app</string>
	<key>STORAGE_BUCKET</key>
	<string>organizers-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:509826767525:ios:1ff6fdf7363704047ccb4c</string>
</dict>
</plist>